.account.block
    width: 100%
    height: 100%
    min-height: 100vh
    position: relative
    display: flex
    flex-direction: row
    &.sign-in-page
        .picture
            background: #74B1F5 url("/images/account/background.png") center bottom no-repeat
            background-size: cover
            flex-grow: 1
            .supplier
                margin: 50px
                text-transform: uppercase
                font-size: 18px
                line-height: 21px
                vertical-align: middle
                cursor: pointer
                display: inline-block
                color: #ffffff
                font-weight: 500
                .icon
                    margin-right: 16px
                    vertical-align: middle
    &.sign-up-page
        background: #f5fafb
        padding-bottom: 150px
        margin-bottom: -135px
        .logo-wrapper
            height: 85px
        .middle-section
            width: 825px
            margin: 0 auto
        .form
            padding-top: 30px
        .row
            margin-bottom: 8px
        .terms
            padding-top: 13px
            flex-grow: 0.3
            padding-left: 30px

    .logo
        // width: 118px
        // height: 63px
        width: 128px
        height: 73px
        margin: 0 -10px -10px 0
        display: block
        background: url("/images/logo/logo-hny.png")
        background-size: cover

    .menu
        background: #f5fafb
        width: 490px
        display: flex
        justify-content: space-between
        flex-direction: column
        padding-bottom: 45px
        .logo
            margin: 0 auto
        .form
            padding: 50px
            margin-bottom: 50px
            .title
                font-size: 40px
                line-height: 48px
                text-align: center
                letter-spacing: 0.25px
                b
                    color: $color-brand
                    font-weight: 500
        .place
            text-align: center

    .error-field
        color: $color-red
        min-height: 36px
        padding: 9px 0
        line-height: 19px
        ul
            padding-left: 18px
            li
                list-style-type: disc
                margin-bottom: 4px

    .auth-input
        input
            border-radius: 4px
            color: $color-text
            background: #ffffff
            border: 1px solid $color-usual-gray
            height: 46px
            line-height: 16px
            padding: 0 15px
            position: relative
            display: flex
            flex-direction: row
            font-size: 13px
            &:focus
                border-color: $color-brand

    h1
        font-size: 40px
        line-height: 48px
        font-weight: 400
        padding: 21px 0 17px

    p
        font-size: 15px
        line-height: 20px
        padding-bottom: 53px

.action-steps-another-bg
    .interval s,
    .interval b,
    .finished+.interval s,
    .previous+.interval s
        background: #f5fafb
