.booking.block
    .left-section
        font-size: 13px
        line-height: 16px
        .subtitle
            color: $color-text-light
            margin-bottom: 16px
        .item.static
            margin-bottom: 23px
            &.no-border
                margin-bottom: 0
        .dual
            margin-bottom: 16px
            .first
                color: $color-text-light
                margin-right: 6px
                white-space: nowrap
                &:after
                    content: ':'
            .second
                color: $color-text
        .total-cost
            border: 1px solid #D8DADC
            border-radius: 4px
            padding: 22px
            margin-top: 43px
            text-align: center
            div
                font-size: 15px
                line-height: 18px
                &:last-child
                    font-size: 22px
                    line-height: 26px
                    margin-top: 7px
                    color: $color-green
    .right-section
        h2
            margin-bottom: 43px