.cards
    padding-top: 30px
    .list
        padding: 0
        flex-direction: column
        .item
            cursor: pointer
            border: 1px solid $color-border
            border-radius: 15px
            background: #fcfcfc
            height: auto
            padding: 25px 30px 0
            margin: 0 0 17px
            font-size: 14px
            line-height: 20px
            width: 100%
            .data
                font-family: monospace
            & > div
                display: flex
                justify-content: space-between
                margin-bottom: 30px
            .field
                max-width: 100px
                .input
                    height: 40px !important
                    line-height: 42px !important
            .only-when-selected
                display: none
                .field
                    margin-right: -15px
            img
                height: 18px
                margin-right: 10px
            .link
                font-weight: 500
                padding-top: 20px
                &:hover
                    color: $color-brand
            &.selected
                border-color: $color-brand
                background: #ffffff
                .only-when-selected
                    display: flex
