.confirmation.block
    background: #ffffff

    .action-steps
        margin-bottom: 55px

    h2
        font-size: 20px
        line-height: 24px
        margin: 45px 0 37px
        &.payment-title
            margin-bottom: 15px

    .result-code
        margin: 30px 0
        border: 1px solid $color-usual-gray
        border-radius: 5px
        background: #ffffff
        position: relative
        padding-right: 22px
        line-height: 58px
        color: $color-text-light
        min-height: 60px
        height: auto
        overflow: hidden
        padding-left: 67px
        .dual
            width: auto
        .before
            position: absolute
            left: 0
            display: block
            float: left
            color: #FFFFFF
            background: #23D578
            width: 49px
            height: 100%
            margin-right: 18px
            text-align: center
            line-height: 65px
        strong
            font-size: 15px
            line-height: 18px
            color: #23D578
        &.error
            .text
                overflow: hidden
            .before
                background: $color-red
            strong
                color: $color-red
            .icon-close
                width: 15px
                height: 24px

    .actions
        margin-top: 40px
        text-align: right
        .icon
            width: 24px
            height: 24px
            margin-left: 24px
        .button
            margin-left: 40px
            padding-left: 45px
            padding-right: 45px
            
    .dual
        .first
            margin-right: 6px
        .first, .second
            flex-grow: 1
            flex-basis: 0
        &.line
            border: 1px solid $color-usual-gray
            border-radius: 4px
            margin-bottom: 6px
            text-align: left
            .first
                flex-grow: 0
                margin: 0
                background: #F5F9FA
                width: 194px
                flex-basis: 194px
            .second
                text-align: left
                border-left: 1px solid $color-usual-gray
            div
                padding: 15px
