.details
    width: 800px
    &.from-modal
        text-align: left
        .gallery
            padding-right: 25px
            position: relative
    &.from-page
        margin-top: -15px
        .top
            .info
                .stars
                    display: inline-block
                    margin-left: 8px
                    i
                        width: 18px
                        height: 18px
        .amenities
            margin-bottom: 40px
            li
                display: inline-block
                margin-right: 7px
                padding-left: 2px
                padding-right: 30px
                font-size: 14px
                line-height: 17px
                margin-top: 24px
    &.modal
        width: 850px
    .top
        margin-bottom: 20px
        display: flex
        flex-direction: row
        .photo
            width: 180px
            text-align: center
            max-height: 180px
            margin-right: 20px
            img
                max-width: 100%
                object-fit: contain
        .info
            .name
                font-size: 21px
                line-height: 25px
            .stars
                margin: 4px 0 15px
                display: block
                i
                    width: 15px
                    height: 15px
            .line
                color: #818283
                font-size: 14px
                line-height: 17px
                margin-bottom: 9px
                .icon
                    margin-left: -2px
                    margin-right: 6px

    .text
        margin-bottom: 34px
        font-size: 13px
        line-height: 19px

    .expand
        cursor: pointer
        color: $color-blue
        text-decoration: underline

    .button-holder
        text-align: center
        margin: 25px 0
        .button
            padding-left: 25px
            padding-right: 25px
            .image
                background: url("./icons/create-pdf.svg") left center no-repeat
                display: inline-block
                margin-right: 0
                padding-left: 65px
                padding-right: 30px

    .gallery
        margin: 15px 0

    table
        width: 100%
        td, th
            vertical-align: top
            padding-right: 50px
            padding-bottom: 40px
        h2
            padding-bottom: 15px
        li
            margin-bottom: 14px
            background: url("./icons/check-round.svg") left top no-repeat
            line-height: 18px
            padding-left: 31px
