.details
    width: 825px
    margin-top: -15px
    .amenities
        margin-bottom: 40px
        li
            display: inline-block
            margin-right: 7px
            padding-left: 2px
            padding-right: 30px
            font-size: 14px
            line-height: 17px
            margin-top: 24px
    .top
        margin-bottom: 20px
        display: flex
        flex-direction: row
        .info
            width: 100%
            position: relative
            .name
                font-size: 21px
                line-height: 25px
                margin-bottom: 15px
            .stars
                display: inline-block
                margin: 4px 0 0 8px
                i
                    width: 18px
                    height: 18px
            .line
                color: $color-dark-gray
                font-size: 14px
                line-height: 17px
                margin-bottom: 9px
                span
                    vertical-align: middle
                .subline
                    display: inline-block
                    max-width: 75%
                .icon
                    margin-left: -2px
                    margin-right: 6px

    .expand
        cursor: pointer
        color: $color-blue
        text-decoration: underline

    .gallery
        margin: 15px 0

    table
        width: 100%
        td, th
            vertical-align: top
            padding-right: 50px
            padding-bottom: 40px
        h2
            padding-bottom: 15px
        li
            margin-bottom: 14px
            background: url("../icons/check-round.svg") left top no-repeat
            line-height: 18px
            padding-left: 31px

    .text
        margin-bottom: 34px
        font-size: 13px
        line-height: 19px
        .cut
            max-height: 200px
            overflow: hidden
            margin-bottom: 2px
            position: relative
            & > div
                padding-bottom: 10px
            &:before
                content: ' '
                width: 100%
                height: 23px
                position: absolute
                left: 0
                bottom: 0
                background: linear-gradient(rgba(255, 255, 255, 0), #ffffff)
        p, b, i, ul, li, h1, br
            color: inherit
        p
            margin: 2px 0 3px
        h1
            margin: 3px 0 5px
            font-size: 16px
        ul
            padding-left: 16px
        li
            list-style: disc
            margin-top: 2px


.pdf-button-holder
    text-align: left
    margin: 95px 0 0
    .button
        padding-left: 25px
        padding-right: 25px
        display: inline-block
        color: #fff
        .image
            background: url("../icons/create-pdf.svg") left center no-repeat
            display: inline-block
            margin-right: 0
            padding-left: 65px
            padding-right: 30px
