.management.block
    h2
        font-size: 20px
        line-height: 24px
        margin: 45px 0 37px

    section
        min-height: 370px

    table
        width: 100%
        font-size: 13px
        line-height: 16px
        tr
            border-top: 1px solid $color-usual-gray
            cursor: pointer
            &:last-child
                border-bottom: 1px solid $color-usual-gray
            &:hover
                td
                    background: #F3F4F6
            td
                vertical-align: top
                padding: 35px 30px 35px 0
                &:first-child
                    padding-left: 40px
                    font-size: 15px
                    line-height: 18px
                &:last-child
                    padding-right: 40px

        strong
            font-size: 11px
            line-height: 13px
            color: $color-text-light
            display: block
            font-weight: 400
            margin-bottom: 12px
