.management.block
    h2
        font-size: 20px
        line-height: 24px
        margin: 45px 0 7px

    .content
        min-height: 370px

    .gray
        color: $color-text-light

    .payment-amount
        font-size: 90%

    .head-nav
        box-shadow: none
        margin-left: -8px
        border-bottom: 1px solid $color-border
        .item
            padding-left: 40px
            padding-right: 40px
            color: $color-text-light
            &.active
                color: $color-brand

    .the-table
        tr
            $cols: (1: 130px, 2: 170px, 3: 110px, 4: 130px, 5: 90px, 6: 80px, 7: 80px, 8: 110px)
            @each $id, $col in $cols
                td:nth-child(#{$id})
                    min-width: $col !important
                    max-width: $col !important

    .agency
        .the-table
            tr
                $cols: (1: 150px, 2: 130px, 3: 160px, 4: 100px, 5: 120px, 6: 90px, 7: 80px, 8: 80px, 9: 110px)
                @each $id, $col in $cols
                    td:nth-child(#{$id})
                        min-width: $col !important
                        max-width: $col !important
        .user-filter
            div
                margin-top: 44px
                margin-left: 15px
                cursor: pointer
            .blue
                color: $color-blue

    &.payments-history
        .the-table
            tr
                $cols: (1: 90px, 2: 90px, 3: 80px, 4: 120px, 5: 140px, 6: 140px)
                @each $id, $col in $cols
                    td:nth-child(#{$id})
                        min-width: $col !important
                        max-width: $col !important
        .controls
            .dropdown
                left: 50%
                right: auto
                transform: translateX(-50%)

