.markup-management
    .form
        margin-top: 15px
        width: 400px
        .field
            margin-right: 0
    .markup
        margin-bottom: 10px
        font-size: 16px
        border: 1px solid #d4dae3
        border-radius: 25px
        padding: 10px 30px
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
    h3
        margin-top: 35px
    .link
        margin-left: 15px
    i
        font-style: normal
        margin-right: 4px
        color: $color-text-light
