.block
    .payment-back
        padding-left: 30px
        padding-right: 30px
        margin-top: 10px

.payment
    &.block
        .icon.icon-info
            position: relative
            margin-right: -12px
            top: -2px
            right: -16px
            cursor: default
        .checkbox
            .icon.icon-info
                right: -7px
        .form
            .field
                &.force-invalid
                    .input.valid
                        &:after
                            display: none
                .input.valid
                    &:after
                        content: " "
                        background: #FFFFFF url("../icons/check-round.svg") left top no-repeat
                        position: absolute
                        top: -9px
                        right: -8px
                        display: block
                        width: 18px
                        height: 18px
                .icon-wrap
                    img
                        height: 20px
                        margin-top: 12px
            .row
                margin-bottom: 15px
        .button
            margin-top: 17px
            .icon
                margin-right: 12px
        .middle-section
            padding-left: 308px
            padding-right: 308px

    &.method
        padding-top: 20px
        .value
            color: $color-green
        .list
            padding: 50px 0
            display: flex
            flex-direction: row
            .icon
                margin-right: 23px
            .item
                margin-right: 22px
                height: 109px
                border: 1px solid $color-text-light
                border-radius: 4px
                padding: 42px 30px
                line-height: 24px
                font-size: 18px
                flex-grow: 1
                flex-basis: 0
                color: $color-text-light
                cursor: pointer
                &:last-child
                    margin-right: 0
                    margin-left: 22px
                    padding-right: 0
                span
                    color: $color-text-light
                &:hover
                    color: $color-text
                    border-color: $color-text
                &.disabled
                    cursor: default
                    border: 1px solid $color-usual-gray
                    color: $color-usual-gray
                    &:hover, & span
                        color: $color-usual-gray
                        border-color: $color-usual-gray
                &.selected
                    color: $color-text
                    border-color: $color-brand
                img
                    height: 32px
                    margin-top: -32px
                    position: relative
                    top: 8px
                    margin-left: 10px
        &.cards
            padding-top: 0
            .list
                padding: 0
                flex-direction: column
                .item
                    height: auto
                    padding: 25px 5px
                    margin: 0 0 17px
                    font-size: 14px
                    line-height: 20px
                    .field
                        width: 100px
                        display: none
                        margin: -15px 30px
                    img
                        height: 15px
                        margin-right: 10px
                        top: 2px
                    span
                        margin-left: 30px
                    &.selected
                        .field
                            display: inline-block
    .no-margin
        margin: 0 !important
