.personal-info
  &__wrapper
    padding: 75px 0 95px
    h1
      font-size: 36px
      line-height: 43px
      color: #231F20
      text-align: center
      & + p
        font-size: 13px
        line-height: 16px
        text-align: center
        letter-spacing: 1px
        color: #A4AAB3
        margin-top: 11px
    h2
      margin-bottom: 50px
      font-size: 20px
      line-height: 24px
      letter-spacing: 1px
      text-transform: uppercase
      color: #231F20
  &__button
    width: 266px
    height: 46px
    display: flex
    align-items: center
    justify-content: center
    margin: 35px auto 80px
    color: #fff !important
    font-size: 13px
  &__form
    .row
      margin-bottom: 18px
    &__hor-label
      width: 225px
      vertical-align: middle
      line-height: 34px
    &__checkbox
      div
        margin-right: 48px
    &__link
      text-decoration-line: underline !important
      color: #1267FB !important
      font-size: 13px
      margin-top: 50px
.form div.personal-info__field
  margin-right: 42px
  width: 50%
