.search.block .fullsize
    padding: 70px 0 110px
    display: flex
    justify-content: center
    & > .row
        margin-bottom: 0
    .field
        margin-top: 36px
        &.size-one
            width: 300px
            max-width: 300px
        &.size-two
            width: 350px
            max-width: 350px
    .button-holder
        margin-top: 11px
    @include phone
        & > .row
            flex-direction: column
        .field
            width: 100% !important
            max-width: 100% !important
            margin-top: 15px
    @include mobile
        padding: 40px 0

.search-fullsize-wrapper
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
