.search.block
    padding: 10px 0 72px
    display: flex
    justify-content: center
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15)
    .row
        margin-bottom: 0
    .field
        margin-top: 36px
    .button-holder
        margin-top: 11px
