.settings.block
    padding-bottom: 60px
    section
        max-width: 886px
    h2
        margin: 70px 0 40px
        font-size: 20px
        line-height: 24px
        letter-spacing: 1px
        color: #231F20
    .row
        margin-bottom: 18px
    .form
        .row.controls
            padding: 0 !important
            margin-top: 9px
            margin-bottom: 0
            justify-content: flex-end
            .button
                min-width: 215px
            .field
                flex-grow: 0
                width: auto
        &.user-data
            flex-direction: row
            flex-wrap: wrap
            .row:last-child
                width: 100%
            .row
                width: 50%
            .row:nth-child(1)
                order: 1
                padding-right: 9px
            .row:nth-child(2)
                order: 3
                padding-right: 9px
            .row:nth-child(3)
                order: 4
                padding-left: 9px
            .row:nth-child(4)
                order: 2
                padding-left: 9px
            .row:nth-child(5)
                order: 5
        &.app-settings
            .field
                width: 50%
        .permissions
            flex-wrap: wrap
            display: flex
            flex-direction: row
            .row
                width: 50%
    .search-wrapper
        padding: 73px 0 82px
        .field:last-child
            max-width: 330px
    .breadcrumbs
        margin: 45px 0 -25px

.settings-header
    section
        padding: 50px 0
        .user
            display: flex
            flex-direction: row
            .photo
                width: 150px
                height: 150px
                position: relative
                border-radius: 80px
                margin: 0 30px 0 15px
                overflow: hidden
                .no-avatar, img
                    width: 100%
                    height: 100%
                .no-avatar
                    background: url("../images/no-avatar.svg") center center no-repeat
                    background-size: cover
            .data
                display: flex
                flex-direction: column
                justify-content: center
                h1
                    font-size: 36px
                    line-height: 43px
                    font-weight: 500
                    color: #231F20
                h3
                    margin: 7px 0
                    font-weight: 500
                    font-size: 13px
                    line-height: 16px
                    color: #797F89
                .status
                    width: 14px
                    height: 14px
                    display: inline-block
                    margin-right: 7px
                    margin-top: 1px
                    float: left
                    border-radius: 25px
                    &.PendingVerification
                        background: lightyellow
                        border: 3px solid yellow
                    &.FullAccess
                        background: #1cbe69
                        border: 3px solid #bbecd2
                    &.DeclinedVerification
                        background: red
                        border: 3px solid lightcoral
                    &.ReadOnly
                        background: blue
                        border: 3px solid skyblue
                .balance
                    margin-top: 5px
                    margin-left: -2px
                    div
                        width: 30px
                        height: 40px
                        margin-right: 5px
                        padding-top: 9px
                        float: left
                    .text
                        font-size: 15px
                        line-height: 40px
                        font-weight: 500
                        letter-spacing: 1px
                        color: #FF9D19
    .logout-wrapper
        float: right
        .button
            display: block
            height: 34px
            line-height: 34px
            padding: 0 16px
            .icon
                margin: 3px 12px -3px 0
                filter: grayscale(1)
            &:hover
                .icon
                    filter: none
    & > div
        display: flex
        justify-content: center
        border-bottom: 1px solid $color-border
        width: 100%
        a
            font-size: 13px
            line-height: 16px
            text-align: center
            color: $color-text-light
            margin: 0 10px
            padding: 19px 14px
            position: relative
            &:hover, &.active
                color: $color-text
            &.active
                cursor: default
                &:after
                    content: ' '
                    height: 4px
                    width: 100%
                    background: linear-gradient(90deg, #F9A51B 0%, #FECE08 100%)
                    border-radius: 25px
                    position: absolute
                    bottom: 0
                    left: 0

.voucher-image
    margin-bottom: 60px
    .box
        margin: 10px 0
    img
        max-width: 500px
        max-height: 300px
