.tiles.block
    background: #ffffff
    padding-bottom: 100px

    .tile-row
        display: flex
        margin-bottom: 20px
        .bottom
            background: linear-gradient(0, #000000 0%, rgba(0, 0, 0, 0) 83.33%)
            width: 100%
            position: absolute
            bottom: 0
            left: 0
            height: 118px
            z-index: 2
        &.x-2
            .item
                height: 300px
        &.x-3
            .item
                height: 300px
                .bottom
                    height: 165px
        &.x-4
            .item
                height: 220px
                &.offer
                    margin-bottom: 63px
                .info
                    padding: 14px 14px 24px
                    .title
                        font-size: 14px
                        line-height: 17px
                        min-height: 34px
        .item
            background: #e5e5e5
            margin-right: 20px
            flex-grow: 1
            position: relative
            min-height: 50px
            border-radius: 50px
            overflow: hidden
            &:last-child
                margin-right: 0
            .body, .picture
                width: 100%
                height: 100%
                position: absolute
                top: 0
                left: 0
                z-index: 3
            .picture
                z-index: 1
                object-fit: cover
            .body
                background: rgba(0,0,0,.1)
                color: #ffffff
            .flag
                width: 18px
                height: 12px

            .info
                position: absolute
                display: flex
                padding: 30px 30px 18px
                bottom: 0
                left: 0
                .flag
                    margin-right: 10px
                    line-height: 21px

            .title
                font-size: 18px
                line-height: 21px
                font-weight: 500
            .count
                font-size: 14px
                line-height: 27px
            .price
                font-size: 18px
                position: absolute
                bottom: 27px
                right: 30px
                line-height: 18px
                font-weight: 500
                span
                    font-size: 10px

    h2
        margin: 47px 0 30px

@include phone
    .tiles.block
        padding-left: 20px
        padding-right: 20px
        .tile-row
            flex-direction: column
            margin-bottom: 0
            .item
                margin-right: 0
                margin-bottom: 20px
