.variants.block
    .head
        margin-bottom: 30px
        display: flex
        flex-direction: row
        justify-content: space-between
        .title
            flex-grow: 1
            h3
                font-size: 24px
                line-height: 29px
                margin-bottom: 6px
                b
                    color: $color-brand
                    font-weight: 400
                span
                    color: $color-text-light
                    display: inline-block
        .sorter
            padding-right: 27px
            line-height: 46px
            button
                font-size: 13px

        .input-wrap
            width: 257px

    .variant
        margin-bottom: 90px
        .summary
            margin-bottom: 17px
            display: flex
            flex-direction: row
            justify-content: space-between
            cursor: pointer
            .photo
                margin-right: 17px
                &, & img
                    width: 125px
                    height: 80px
                    border-radius: 2px
            .title
                flex-grow: 1
                h2
                    margin-bottom: 6px
                    u
                        margin-right: 15px
                        text-decoration: none
                    .stars
                        display: inline-block
                        position: relative
                        top: -1px
                        i
                            margin-right: 1px
                .category
                    margin-bottom: 13px
                    font-size: 13px
                    line-height: 16px
                    color: $color-text-light
                .features
                    .icon
                        margin-right: 12px
                        cursor: pointer
                    .mini-label
                        vertical-align: bottom
            .prices
                text-align: right
                min-width: 120px
                .from
                    font-size: 11px
                    line-height: 13px
                    text-transform: uppercase
                    color: $color-text-light
                .value
                    font-size: 18px
                    line-height: 25px
                    color: $color-green

        .table
            font-size: 11px
            line-height: 18px
            border-bottom: 1px solid $color-usual-gray
            padding-bottom: 5px
            overflow: hidden
            .title
                font-weight: 500
                font-size: 12px
                line-height: 12px
                padding: 8px 13px
                background: $color-light-blue
                margin-bottom: 15px
            .row
                padding-right: 50px
                padding-bottom: 25px
                flex-direction: row
                display: flex
            .main
                padding-left: 25px
                h3
                    color: $color-blue
                    cursor: pointer
                    font-size: 11px
                    line-height: 18px
                    margin-bottom: 6px
                    div
                        margin-bottom: 2px
            .info
                font-size: 12px
                line-height: 20px
                i.icon
                    position: relative
                    top: -1px
                    margin-left: 2px
            .warning
                color: $color-brand
            .paragraph
                margin-top: 12px
            .billet
                float: right
                padding: 23px 30px 28px
                margin-bottom: 10px
                .count
                    font-weight: 600
                    font-size: 11px
                    line-height: 13px
                    padding-bottom: 4px
                    color: $color-text-light
                .price
                    font-weight: 500
                    font-size: 24px
                    line-height: 29px
                    color: $color-green
                    padding-bottom: 15px
                    margin: 0 -15px
                    span
                        font-size: 12px
                        text-transform: uppercase
                        font-weight: 600
                        color: $color-text-light
                .button
                    width: 172px
                    height: 36px

    .table
        margin-bottom: 40px
    table
        width: 100%

    &.room-contract-sets
        .right-section
            .billet
                margin: 20px 0
                padding: 26px 20px
                display: flex
                flex-direction: row
                justify-content: space-between
                text-align: left
                .part
                    display: flex
                    flex-direction: row
                    .subpart
                        margin-right: 75px
                        font-size: 14px
                        line-height: 24px
                        display: inline-flex
                        flex-direction: column
                        div
                            display: inline-block
                    .button
                        height: 36px
                        margin-top: 17px
                .h1
                    font-weight: 600
                .h2
                    font-weight: 700
                    color: #548EF5
                .h3
                    margin-top: 5px
                    color: $color-dark-gray
                    font-size: 14px
                    line-height: 17px
        .table
            border-width: 0

    .table.agt
        &, & th, & td
            border: 1px solid $color-usual-gray
        td
            padding: 20px 0
            min-width: 80px
            vertical-align: top
        th
            padding: 8px 8px
            background: #E6EFFD
            border-color: #4C98E4
            &:first-child
                padding-left: 16px
        .icons
            width: 80px !important
            max-width: 80px !important
            text-align: left
            hyphens: auto
        td.icons
            text-align: right
            padding-right: 12px
        .room-contract-set
            color: $color-blue
            padding: 20px 16px
            font-size: 13px
            line-height: 18px
            min-width: 330px
            span
                cursor: pointer
        td.price
            color: $color-green
            padding: 20px 9px
            text-align: center
            font-weight: 500
            font-size: 14px
            line-height: 19px
        th.price
            background: #4C98E4
            color: #ffffff
        .pros
            max-width: 140px
            padding: 20px 12px
            .one
                margin-bottom: 13px
                font-size: 12px
                line-height: 14px
                font-weight: 500
                &:last-child
                    margin-bottom: 0
        .holder
            padding: 20px
            width: 150px
            .button
                height: 40px
                width: 110px