.variants.block
    .head
        margin-bottom: 50px
        display: flex
        flex-direction: row
        justify-content: space-between
        .title
            flex-grow: 1
            h3
                font-size: 24px
                line-height: 29px
                margin-bottom: 6px
                b
                    color: $color-brand
                    font-weight: 400
                span
                    color: $color-text-light
                    display: inline-block
        .sorter
            padding-right: 27px
            line-height: 46px
            button
                font-size: 13px

        .input-wrap
            width: 257px

    .variant
        margin-bottom: 90px
        .summary
            margin-bottom: 17px
            display: flex
            flex-direction: row
            justify-content: space-between
            .photo
                margin-right: 17px
                &, & img
                    width: 125px
                    height: 80px
            .title
                flex-grow: 1
                cursor: pointer
                h2
                    margin-bottom: 6px
                    &:hover
                        text-decoration: underline
                    u
                        margin-right: 15px
                        text-decoration: none
                    .stars
                        display: inline-block
                        position: relative
                        top: -1px
                        i
                            margin-right: 1px
                .category
                    margin-bottom: 13px
                    font-size: 13px
                    line-height: 16px
                    color: $color-text-light
                .features
                    .icon
                        margin-right: 12px
                        cursor: pointer
                    .mini-label
                        vertical-align: bottom
            .prices
                text-align: right
                min-width: 120px
                .from
                    font-size: 11px
                    line-height: 13px
                    text-transform: uppercase
                    color: $color-text-light
                .value
                    font-size: 18px
                    line-height: 25px
                    color: $color-green

        .description
            color: $color-text-light
            font-size: 12px
            line-height: 14px
            margin-bottom: 15px
            & .expand
                cursor: pointer
                color: $color-blue
                text-decoration: underline
        .table
            font-size: 11px
            line-height: 18px
            border-bottom: 1px solid $color-usual-gray
            padding-bottom: 5px
            .title
                font-weight: 500
                font-size: 12px
                line-height: 12px
                padding: 8px 13px
                background: #e6effd
                margin-bottom: 15px
            .row
                padding-right: 50px
                padding-bottom: 35px
                flex-direction: row
                display: flex
            .icons
                width: 50px
                height: 50px
                text-align: center
            .main
                h3
                    color: $color-blue
                    font-size: 11px
                    line-height: 18px
            .info
                font-size: 12px
                line-height: 20px
            .warning
                color: $color-brand
            .green
                color: $color-green
            .paragraph
                margin-top: 12px
            .space
                float: right
                text-align: center
                border: 1px solid $color-usual-gray
                border-radius: 4px
                padding: 23px 30px 28px
                .count
                    font-weight: 600
                    font-size: 11px
                    line-height: 13px
                    padding-bottom: 4px
                    color: $color-text-light
                .price
                    font-weight: 500
                    font-size: 24px
                    line-height: 29px
                    color: $color-green
                    padding-bottom: 15px
                .button
                    width: 172px
                    height: 36px
                    line-height: 36px

    .table
        margin-bottom: 40px
    table
        width: 100%
