.form
    display: flex
    flex-direction: column
    width: 100%
    .row
        display: flex
        flex-direction: row
        width: 100%
    .submit-holder
        padding-top: 41px

    .vertical-label
        cursor: pointer
        width: auto
        padding-left: 14px
        display: flex
        justify-content: center
        flex-direction: column
        margin-top: -3px

.checkbox
    cursor: pointer
    background: url("../images/checkbox-off.svg") no-repeat
    background-position: left center
    padding-left: 27px
    &.on
        background-image: url("../images/checkbox-on.svg")
