button
    cursor: pointer
    display: inline-block
    min-width: 0
    min-height: 0
    outline: 0
    border: 0
    background: transparent
    font: inherit

.button
    display: inline-flex
    height: 46px
    line-height: 18px
    font-size: 13px
    font-weight: 500
    letter-spacing: 1px
    color: $color-text
    border: 1px solid $color-border
    border-radius: 25px
    cursor: pointer
    background: #ffffff
    padding: 3px 26px
    justify-content: center
    flex-direction: column
    align-items: center

    &:hover
        color: #FF9D19
        border-color: #FF9D19

    &.main
        background: $color-brand
        border: 0
        color: #ffffff
        background: linear-gradient(90deg, #F9A51B 0%, #FECE08 100%)
        &:hover
            background: #FF7A00
            background: linear-gradient(90deg, #FF7A00 0%, #F9A51B 100%)


    &.gray
        color: $color-border
        &:hover
            color: #C1C2C3

    &.green
        color: #1cbe69
        border-color: #1cbe69
        &:hover
            color: #23D578
            border-color: #23D578
        &.mini-label
            background: #1cbe69

    &.transparent
        text-transform: none
        line-height: 30px
        height: 30px
        border: 1px solid #ffffff
        background: transparent
        color: #ffffff
        padding: 0 15px
        font-weight: 400
        &:hover
            color: #FF9D19
            background: #ffffff

    &.round
        border-radius: 300px !important
        padding: 0 !important
        min-width: 26px
        min-height: 26px
        .icon
            vertical-align: middle

    &.small
        height: auto
        line-height: 14px
        font-size: 10px
        padding: 6px 18px
        font-weight: 500

    &.mini-label
        font-size: 9px
        height: 20px
        line-height: 20px
        cursor: default
        padding: 0 8px
        display: inline-block
        font-weight: 500

    &.disabled
        cursor: default
        background: #ECEEF0
        border: 0
        color: #ffffff
        &:hover
            background: #ECEEF0
        &.small
            background: #DCDEE0

.button-expand
    cursor: pointer
    color: $color-blue
    &:after
        content: ' '
        display: block
        float: right
        width: 17px
        height: 16px
        background: url("../images/dropdown-arrow-blue.svg") no-repeat
        background-position: right center
    &.reverse
        &:after
            transform: scaleY(-1)
    &:hover
        color: #074BC5

.button-clear
    cursor: pointer
    color: $color-text-light
    background: url("../images/cross-small.svg") no-repeat
    background-position: left center
    padding-left: 16px
    &:hover
        color: #858585

.file-upload
    font-size: 14px
    display: inline-block
    padding: 0 30px
    input
        display: none