.filters
    h3
        margin-top: 23px
        margin-bottom: 16px
        font-size: 18px
        line-height: 22px
    h4
        margin-top: -6px
        margin-bottom: 7px
        font-size: 13px
        line-height: 16px
        font-weight: 300
        color: $color-text-light
    .checkbox
        margin-bottom: 14px
    .price-range
        margin-bottom: 50px

.filtration
    display: flex
    margin-bottom: 3px
    flex-wrap: wrap
    & > .item
        margin-right: 10px
        margin-bottom: 10px
        position: relative
        display: inline-block
        .button
            flex-direction: row
            font-weight: 400
            padding: 0 18px
            user-select: none
            .icon
                filter: brightness(0.3)
                &.icon-remove
                    filter: grayscale(1)
            &.after-icon
                padding-right: 12px
                .icon
                    margin-left: 6px
            &.leading-icon
                .icon
                    margin-right: 8px
            &:hover
                .icon
                    filter: none
        .input, .button
            line-height: 36px !important
            height: 36px !important
    .dropdown.select
        min-width: 160px

.filters.dropdown
    left: 0
    right: auto
    width: 300px
    padding: 0 30px 15px
    .close-button
        top: 10px
        right: 10px
