header
    z-index: 102

header, .head-nav
    background: #ffffff
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05)
    position: relative
    height: 70px
    line-height: 70px

    section
        display: flex
        flex-direction: row

    nav
        display: flex
        flex-direction: row
        flex-grow: 2
        a, .item
            padding: 0 10px
            margin: 0 10px
            display: block
            position: relative
            cursor: pointer
            &.active
                cursor: default
                &:after
                    content: ' '
                    height: 4px
                    left: 8px
                    right: 8px
                    bottom: 0
                    width: auto
                    background: $color-brand
                    background: linear-gradient(90deg, #F9A51B 0%, #FECE08 100%)
                    border-radius: 4px
                    position: absolute

    .button.transparent-with-border
        border: 1px solid $color-brand
        background: #fff
        color: $color-brand
        margin-top: 16px
        line-height: 34px
        height: 34px
        padding: 0 20px
        &:hover
            background: #FFFAF3

    .logo-wrapper
        padding-right: 56px
        .logo
            width: 118px
            height: 63px
            margin: 0 -10px -10px 0
            display: block
            background: url("/images/logo/logo.png")
            background-size: cover

    .dropdown
        margin-top: 20px
