.switcher
    position: relative
    cursor: pointer
    display: flex
    &:hover, &.open
        color: $color-text
        .icon, .switch-arrow
            filter: brightness(0)
    .icon
        margin-right: 10px
    &.currency-switcher
        cursor: default
        &:hover, &.open
            color: inherit
            .icon, .switch-arrow
                filter: none
        .currency
            span
                color: $color-text-light
    .switch-arrow
        width: 9px
        height: 10px
        background: url("../icons/elements/arrow-expand.svg") no-repeat
        filter: grayscale(1)
        margin: 7px 0 0 10px
        display: inline-block
