@import "base/colors"

@import "block/tiles"
@import "block/variants"
@import "block/booking"
@import "block/confirmation"
@import "block/payment"

@import "block/search"
@import "block/details"
@import "block/management"
@import "block/user-management"
@import "block/add-new-user"

@import "block/account"
@import "block/error-page"

@import "block/table"

.block.document
    h1
        font-size: 28px
        line-height: 28px
        margin: 5px 0 37px
    h2
        font-size: 24px

    p
        margin-bottom: 15px
    ul
        margin: 15px 0
        list-style: disc
        padding-left: 20px
        li
            list-style: disc
            margin-bottom: 10px
