@import 'base/all'

footer
    background: #2e2f34
    width: 100%
    min-width: 200px
    margin-top: 135px
    position: relative
    a
        color: #FFFFFF
        &:hover
            color: $color-text-light

    .middle
        display: flex
        flex-direction: row
        flex-grow: 1

    .upper-part
        padding: 47px 0 32px
        color: #ffffff
        border-bottom: 1px solid $color-text-light

        .company
            width: 110px
            .logo-wrapper
                height: 68px
                border-top: 1px solid $color-text-light
                text-align: center
                .logo
                    width: 94px
                    height: 50px
                    display: inline-block
                    background: url("/images/logo/logo-small.png")
                    background-size: cover
            .social
                display: flex
                flex-direction: row
                justify-content: space-evenly
                a
                    width: 27px
                    height: 27px

        section
            display: flex
            flex-direction: row
            justify-content: space-between

        .links
            flex-grow: 1
            padding-left: 66px
            & > menu
                display: flex
                flex-direction: row
                line-height: 19px
                margin-bottom: 16px
                font-size: 13px
                li
                    margin-right: 25px

                li
                    margin-right: 20px

        .contact
            h3
                font-size: 14px
                margin-bottom: 16px
            div
                font-size: 12px
                margin-bottom: 12px
                line-height: 18px
            span
                color: $color-text-light
            .license
                margin-bottom: 0

    .copyright
        color: $color-text-light
        line-height: 18px
        padding: 24px 0
        font-size: 12px
        text-align: center

    .payments
        line-height: 0
        padding-top: 30px
        img
            height: 40px
            background: #ffffff
            margin-right: 13px
            &.interval
                margin-right: 18px
            &.interval-big
                margin-right: 25px
            &.near
                margin-right: 5px
            &.transparent
                background: transparent
            &:last-child
                margin-right: 0

    .service-info
        margin-top: 43px
        color: #ffffff33
        font-size: 9px

    .switchers
        width: 350px
        height: 30px
        display: flex
        flex-direction: row
        .switcher
            font-size: 13px

    .dropdown
        margin-top: -13px

    @include mobile
        .upper-part
            padding-left: 20px
            padding-right: 20px
            .links
                padding-bottom: 50px
                flex-grow: 0
                padding-left: 30px
        .middle
            flex-direction: column
            justify-content: flex-start
        .copyright
            max-width: 300px
            margin: 0 auto
        .service-info
            position: absolute
            bottom: 100px
            right: 20px

    @include phone
        .upper-part
            padding-top: 30px
            section
                flex-direction: column
            .company
                margin: 0 auto 20px
            menu
                justify-content: center
                flex-wrap: wrap
                li:last-child
                    margin-right: 0 !important
            .switchers
                justify-content: center
                margin: 0 auto
            .payments
                text-align: center
            .contact
                width: 280px
                margin: 40px auto 0
            .links
                padding-left: 0
