@import 'form/common'
@import 'form/field'
@import 'form/dropdown'
@import 'form/switch-control'

.form
    display: flex
    flex-direction: column
    width: 100%
    .row
        display: flex
        flex-direction: row
        width: 100%
