.icon
    display: inline-block
    background: no-repeat center center
    vertical-align: text-bottom
    width: 18px
    height: 18px
    &.icon-hotel
        background-image: url("./icons/hotel.svg")
    &.icon-calendar
        background-image: url("./icons/calendar.svg")
    &.icon-arrow-left
        background-image: url("./icons/arrow.svg")
    &.icon-arrow-right
        background-image: url("./icons/arrow.svg")
        transform: rotate(180deg)
    &.icon-arrow-left-disabled
        background-image: url("./icons/arrow-disabled.svg")
    &.icon-arrow-right-disabled
        background-image: url("./icons/arrow-disabled.svg")
        transform: rotate(180deg)
    &.icon-arrow-expand
        background-image: url("./icons/arrow-expand.svg")
    &.icon-arrow-expand-rotate
        background-image: url("./icons/arrow-expand.svg")
        transform: rotate(180deg)
    &.icon-arrows-expand
        background-image: url("./icons/arrows-expand.svg")
    &.icon-calendar-clock
        background-image: url("./icons/calendar-clock.svg")
    &.icon-warning
        background-image: url("./icons/warning.svg")
    &.icon-chat
        background-image: url("./icons/chat.svg")
    &.icon-money
        background-image: url("./icons/money.svg")
    &.icon-card
        background-image: url("./icons/card.svg")

    &.icon-download-orange
        background-image: url("./icons/actions/download-orange.svg")

    &.icon-close
        width: 10px
        height: 10px
        background-image: url("./icons/close.svg")
    &.icon-close.white
        background-image: url("./icons/close-white.svg")

    &.icon-snet-1-f, &.icon-snet-2-t
        width: 27px
        height: 27px
        background-image: url("./icons/facebook.svg")
        &:hover
            background-image: url("./icons/facebook-hover.svg")
    &.icon-snet-2-t
        background-image: url("./icons/twitter.svg")

    &.icon-warning-white
        width: 22px
        background-image: url("./icons/warning-white.svg")
    &.icon-warning-yellow, &.icon-warning-green
        width: 30px
        height: 30px
        background-image: url("./icons/warning-yellow.svg")
    &.icon-warning-green
        background-image: url("./icons/warning-green.svg")

    &.icon-hotel-information
        width: 30px
        height: 30px
        background-image: url("./icons/hotel-information.svg")

    &.icon-supplier
        width: 32px
        height: 32px
        background-image: url("./icons/supplier.svg")

    &.icon-search
        width: 18px
        height: 18px
        background-image: url("./icons/search.svg")

    &.icon-info
        width: 12px
        height: 12px
        background-image: url("./icons/info-blue.svg")
        &.orange
            background-image: url("./icons/info-orange.svg")

    &.icon-info-big,
    &.icon-map
        width: 20px
        height: 20px
        background-size: contain
    &.icon-info-big
        background-image: url("./icons/info-blue.svg")
    &.icon-map
        background-image: url("./icons/map.svg")

    &.icon-white-check
        width: 23px
        height: 23px
        background-image: url("./icons/white-check.svg")
    &.icon-check
        background-image: url("./icons/check.svg")
    &.icon-white-lock
        width: 14px
        height: 18px
        background-image: url("./icons/white-lock.svg")

    &.icon-action-time-left
        background-image: url("./icons/actions/time-left.svg")
    &.icon-action-pen
        background-image: url("./icons/actions/pen.svg")
    &.icon-action-pen-orange
        background-image: url("./icons/actions/pen-orange.svg")
    &.icon-action-cancel
        background-image: url("./icons/actions/cancel.svg")
    &.icon-action-print
        background-image: url("./icons/actions/print.svg")
    &.icon-action-writing
        background-image: url("./icons/actions/writing.svg")

    &.icon-man
        background-image: url("./icons/man.svg")

    &.icon-small-phone
        width: 16px
        height: 16px
        background-image: url("./icons/small-phone.svg")
    &.icon-small-pin
        width: 16px
        height: 16px
        background-image: url("./icons/small-pin.svg")

    &.icon-radio
        width: 20px
        height: 20px
        background-image: url("./icons/radio-off.svg")

    &.icon-confirmation-dates
        width: 46px
        height: 46px
        background-image: url("./icons/confirmation/dates.svg")
    &.icon-confirmation-hotel
        width: 46px
        height: 46px
        background-image: url("./icons/confirmation/hotel.svg")
    &.icon-confirmation-price
        width: 46px
        height: 46px
        background-image: url("./icons/confirmation/price.svg")
    &.icon-confirmation-passenger
        width: 24px
        height: 24px
        background-image: url("./icons/confirmation/passenger.svg")

.icon.icon-radio.on,
.selected .icon.icon-radio
    background-image: url("./icons/radio-on.svg")

.stars
    position: relative
    top: 1px
    i
        display: inline-block
        background-repeat: no-repeat
        background-position: center center
        vertical-align: baseline
        width: 12px
        height: 12px
        background-image: url("./icons/star.svg")
        background-size: cover
