.icon
    &.icon-user-burger
        background-image: url("./icons/sidebars/burger-small.svg")
        width: 14px
        height: 9px
    &.icon-locale-switcher
        background-image: url("./icons/sidebars/locale-switcher.svg")
        width: 16px
        height: 16px
    &.icon-currency-switcher
        background-image: url("./icons/sidebars/currency-switcher.svg")
        width: 16px
        height: 16px
