.icon
    display: inline-block
    background-repeat: no-repeat
    background-position: center center
    width: 18px
    height: 18px
    vertical-align: text-bottom
    &.hotel
        background-image: url("./icons/hotel.svg")
    &.calendar
        background-image: url("./icons/calendar.svg")
    &.arrows-expand
        background-image: url("./icons/arrows-expand.svg")
