@import 'base/all'

body
    background: #ffffff
    color: $color-text
    letter-spacing: 0.232143px
    font:
        family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial Neue", sans-serif
        size: 14px

textarea, pre
    font-family: inherit

.link, a.link, a[href].link
    cursor: pointer
    color: $color-blue
    &:hover
        color: #074BC5
    &.underlined
        text-decoration: underline

h2
    font-size: 18px
    line-height: 21px
    font-weight: 400
    span
        color: $color-text-light

.round
    border-radius: 4px

section
    width: 1100px
    margin: 0 auto
    &.double-sections
        display: flex
        flex-direction: row
        padding-top: 50px
        .left-section
            min-width: 230px
            max-width: 230px
            margin-right: 45px
        .right-section
            flex-grow: 1
        .middle-section
            flex-grow: 1
            padding-left: 137px
            padding-right: 137px
.medium-section
    width: 886px

.hide
    display: none !important

.dual
    display: flex
    width: 100%
    flex-direction: row
    justify-content: space-between
    .second
        text-align: right
    &.column
        flex-direction: column
        .second
            text-align: left

.flag
    width: 15px
    height: 10px
    position: relative
    display: inline-block
    .flag-icon
        width: 100%
        height: 100%

.remark
    margin: 6px 0 12px


span.brand
    position: relative
    display: inline-block
    color: $color-text
    &:after, &:before
        content: ' '
        position: absolute
        right: -60px
        top: 10px
        background: #FECE08
        background: linear-gradient(90deg, #F9A51B 0%, #FECE08 100%)
        width: 40px
        height: 4px
        border-radius: 4px
    &:before
        width: 10px
        right: -76px

.flex
    display: flex
div.fd-c
    flex-direction: column
.jc-end
    justify-content: flex-end
.jc-between
    justify-content: space-between
.al-center
    align-items: center
.al-end
    align-items: flex-end

.green
    color: $color-green

b
    font-weight: 600
