@import 'base/all'

body
    background: #ffffff
    color: $color-text
    font:
        family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial Neue", sans-serif
        size: 14px

section
    width: 1100px
    margin: 0 auto
