body
    background: #ffffff
    color: $color-text
    letter-spacing: 0.232143px
    line-height: 16px
    font:
        family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial Neue", sans-serif
        size: 13px

textarea, pre, input, button
    font-family: inherit
    letter-spacing: inherit

.link, a.link, a[href].link
    cursor: pointer
    color: $color-blue
    &:hover
        color: #074BC5
    &.underlined
        text-decoration: underline

h1
    font-size: 30px
    line-height: 36px

h2
    font-size: 24px
    line-height: 29px
    font-weight: 400
    span
        color: $color-text-light

section
    max-width: 1290px
    width: 100%
    margin: 0 auto
    padding: 0 30px
    @include mobile
        padding: 0 20px
    @include phone
        padding: 0 10px

.hide
    display: none !important

.dual
    display: flex
    width: 100%
    justify-content: space-between
    .second
        text-align: right
    &.column
        flex-direction: column
        .second
            text-align: left

b
    font-weight: 600

.block-wrapper
    min-height: 100vh
    padding-top: 81px
    header
        margin-top: -81px
        position: static
        box-shadow: none !important

.hide-desktop
    display: none
.hide-mobile
    display: block

@include mobile
    .with-search
        .block-wrapper
            padding-top: 161px
    .hide-desktop
        display: block
    .hide-mobile
        display: none
